*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}
body {
  background-color: rgb(219, 219, 219);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
}
.contain {
  background-color: rgb(0, 46, 99);
  width: 350px;
  height: 250px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  border-radius: 40px;
}
/* input */
input {
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  background-color: #efefef;
  font-size: 20px;
  padding: 10px;
}
/* icons */
i {
  font-size: 18px;
}
/* buttons */
button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-holder {
  margin-top: 40px;
}
.generate {
  width: 200px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: rgb(67, 187, 67);
  color: #fff;
  transition: all 0.3s;
}
.generate:hover {
  background-color: rgb(87, 204, 87);
  transition: all 0.3s;
}
.copy {
  background-color: rgb(57, 176, 255);
  color: #fff;
  transition: all 0.3s;
}
.copy:hover {
  background-color: rgb(110, 197, 255);
  transition: all 0.3s;
}
.clear {
  background-color: rgb(223, 73, 73);
  color: #fff;
  transition: all 0.3s;
}
.clear:hover {
  background-color: rgb(247, 80, 80);
  transition: all 0.3s;
}
